@model RumoATI.ETB.Web.Models.ProfessorViewModel

<form asp-controller="Professor" asp-action="Add" method="post" class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label asp-for="Nome">Nome</label>
            <input asp-for="Nome" required class="pure-input-2-3" />
        </div>

        <div class="pure-control-group">
            <label asp-for="SobreNome">Último Nome</label>
            <input asp-for="SobreNome" required class="pure-input-2-3" />
        </div>

        <div class="pure-control-group">
            <label asp-for="Email">Email</label>
            <input type="email" asp-for="Email" required class="pure-input-2-3" />
        </div>

        <div class="pure-controls">
            Cursos

            <label for="option-one" class="pure-checkbox">
                @if (Model.Cursos.Any())
                {
                    @foreach (var curso in Model.Cursos)
                    {
                        if (Model.CursoSelecionados != null && Model.CursoSelecionados.Length > 0)
                        {
                            foreach (var cs in Model.CursoSelecionados)
                            {

                                if (curso.Id == cs)
                                {
                                    <input type="checkbox" name="CursoSelecionados" value="@curso.Id" checked />@curso.Nome
                                }
                                else
                                {
                                    <input type="checkbox" name="CursoSelecionados" value="@curso.Id" />@curso.Nome
                                }
                            }
                        }
                        else
                        {
                            <input type="checkbox" name="CursoSelecionados" value="@curso.Id" />@curso.Nome
                        }
                    }
                }
            </label>
        </div>
        <div class="pure-controls">
            <input type="submit" value="Salvar" class="pure-button pure-button-primary" />
        </div>
    </fieldset>
</form>